absl-py
astunparse
audioread
blinker
certifi
cffi
charset-normalizer
click
contourpy
cycler
decorator
facenet-pytorch
fer
ffmpeg
filelock
Flask
Flask-Login
flatbuffers
fonttools
fsspec
gast
google-pasta
grpcio
h5py
idna
imageio
imageio-ffmpeg
itsdangerous
Jinja2
joblib
keras
kiwisolver
lazy_loader
libclang
librosa
llvmlite
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdurl
ml-dtypes
moviepy==1.0.3
mpmath
msgpack
mysql-connector-python
namex
networkx
numba
numpy
opencv-contrib-python
opencv-python
opt_einsum
optree
packaging
pandas
pillow
platformdirs
pooch
proglog
protobuf
pycparser
Pygments
pyparsing
python-dateutil
pytz
requests
rich
scikit-learn
scipy
six
soundfile
soxr
sympy
tensorboard
tensorboard-data-server
tensorflow
tensorflow-io-gcs-filesystem
termcolor
threadpoolctl
torch
torchvision
tqdm
typing_extensions
tzdata
urllib3
Werkzeug
wrapt
