absl-py==2.1.0
astunparse==1.6.3
audioread==3.0.1
beautifulsoup4==4.12.3
blinker==1.9.0
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
click==8.1.7
contourpy==1.3.1
cycler==0.12.1
decorator==4.4.2
deepface==0.0.93
facenet-pytorch==2.6.0
fer==22.5.1
ffmpeg==1.4
filelock==3.16.1
fire==0.7.0
Flask==3.0.3
Flask-Cors==5.0.0
Flask-Login==0.6.3
flatbuffers==24.3.25
fonttools==4.54.1
fsspec==2024.10.0
gast==0.6.0
gdown==5.2.0
google-pasta==0.2.0
grpcio==1.67.1
gunicorn==23.0.0
h5py==3.12.1
idna==3.10
imageio==2.36.0
imageio-ffmpeg==0.5.1
itsdangerous==2.2.0
Jinja2==3.1.4
joblib==1.4.2
keras==3.6.0
kiwisolver==1.4.7
lazy_loader==0.4
libclang==18.1.1
librosa==0.10.2.post1
llvmlite==0.43.0
lz4==4.3.3
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.9.2
mdurl==0.1.2
ml-dtypes==0.4.1
moviepy==1.0.3
mpmath==1.3.0
msgpack==1.1.0
mtcnn==1.0.0
mysql-connector-python==9.1.0
namex==0.0.8
networkx==3.4.2
numba==0.60.0
numpy==1.26.4
opencv-contrib-python==4.10.0.84
opencv-python==4.10.0.84
opt_einsum==3.4.0
optree==0.13.1
packaging==24.2
pandas==2.2.3
pillow==10.2.0
platformdirs==4.3.6
pooch==1.8.2
proglog==0.1.10
protobuf==5.28.3
pycparser==2.22
Pygments==2.18.0
pyparsing==3.2.0
PySocks==1.7.1
python-dateutil==2.9.0.post0
pytz==2024.2
requests==2.32.3
retina-face==0.0.17
rich==13.9.4
scikit-learn==1.5.2
scipy==1.14.1
six==1.16.0
sounddevice==0.5.1
soundfile==0.12.1
soupsieve==2.6
soxr==0.5.0.post1
sympy==1.13.3
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorflow==2.18.0
tensorflow-io-gcs-filesystem==0.37.1
termcolor==2.5.0
threadpoolctl==3.5.0
torch==2.2.2
torchvision==0.17.2
tqdm==4.67.0
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.2.3
Werkzeug==3.1.3
wrapt==1.16.0
absl-py
astunparse
audioread
beautifulsoup4
blinker
certifi
cffi
charset-normalizer
click
contourpy
cycler
decorator
deepface
facenet-pytorch
fer
ffmpeg
filelock
fire
Flask
Flask-Cors
Flask-Login
flatbuffers
fonttools
fsspec
gast
gdown
google-pasta
grpcio
gunicorn
h5py
idna
imageio
imageio-ffmpeg
itsdangerous
Jinja2
joblib
keras
kiwisolver
lazy_loader
libclang
librosa
llvmlite
lz4
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdurl
ml-dtypes
moviepy
mpmath
msgpack
mtcnn
mysql-connector-python
namex
networkx
numba
numpy
opencv-contrib-python
opencv-python
opt_einsum
optree
packaging
pandas
pillow
platformdirs
pooch
proglog
protobuf
pycparser
Pygments
pyparsing
PySocks
python-dateutil
pytz
requests
retina-face
rich
scikit-learn
scipy
six
sounddevice
soundfile
soupsieve
soxr
sympy
tensorboard
tensorboard-data-server
tensorflow
tensorflow-io-gcs-filesystem
termcolor
threadpoolctl
torch
torchvision
tqdm
typing_extensions
tzdata
urllib3
Werkzeug
wrapt
